@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
}

.wrap {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

footer{
	text-align: center;
    padding: 1em;
}
