@charset "UTF-8";

/* メニュー */
nav {
    text-align: center;
    padding: 2em 0;
}

nav a {
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid #555;
}

nav a:last-child {
    border-right: none;
}

/* 検索 */
.search {
    text-align: center;
    padding-bottom: 2em;
}

.search input[type="text"] {
    width: 300px;
    padding: .3em;
    margin-right: .5em;
}

/* ボタン */
.btn {
    margin-bottom: 0.5em;
}

/* コンテンツ */
table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

th {
    border: none;
	padding: 5px;
}

td {
    border: none;
	padding: 1em 0 0;
}

/* a {
	padding-right: 10px;
} */

/* カテゴリー */

.category tr:first-child {
    /* background: #8cac7b; */
    /* border: solid 1px #555; */
    background: #eee;
}

.category tr td:nth-child(2) a{
    padding-right: 1em;
}

.category-add p {
    margin-bottom: 0.5em;
}

.category-add input[type="text"] {
    width: calc(100% - 75px);
    padding: 0.3em;
    margin-right: 0.5em;
}