@charset "UTF-8";

input, select{
    font-size: 16px;
    line-height: 1.6;
}

/* メニュー */
nav {
    text-align: center;
    padding: 2em 0;
}

nav a {
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid #555;
}

nav a:last-child {
    border-right: none;
}

/* 検索 */
.search {
    text-align: center;
    padding-bottom: 2em;
}

.search input[type="text"] {
    width: 300px;
    padding: .3em;
    margin-right: .5em;
}

/* ボタン */
.btn {
    margin-bottom: 0.5em;
}

/* コンテンツ */
table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

th {
    border: none;
	padding: 5px;
}

td {
    border: none;
	/* padding: 1em 0 0; */
    padding: 1em 1em 0 0;
}

/* メモ一覧 */

.memo-all table {
	table-layout:fixed;
}


.memo-all tr:first-child {
    background: #eee;
}

.memo-all tr th:first-child {
    width: 33%;
}

.memo-all tr th:nth-child(2) {
    width: 40%;
}

.memo-all tr th:nth-child(3) {
    width: 20%;
}

.memo-all tr th:last-child {
    width: 7%;

}

.memo-all td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.memo-all tr td:first-child {
    width: 33%;
}

.memo-all tr td:nth-child(2) {
    width: 40%;
}

.memo-all tr td:nth-child(3) {
    width: 20%;
}

.memo-all tr td:last-child {
    width: 7%;
    text-align: right;
}

/* メモ追加、編集 */

.add-memo dt{
    padding-bottom: 0.3em;
}

.add-memo dd{
    padding-bottom: 1em;
}

.add-memo dd:nth-last-child(2){
    padding-bottom: 0.5em;
}

.add-memo select {
    width: 100%;
    padding: 9px 2px;
}

.add-memo input[type="text"] {
    width: calc(100% - 12px);
    padding: 0.3em;
}

.add-memo textarea {
    width: calc(100% - 10px);
    padding: 0.3em;
    line-height: 1.6;
    font-size: 16px;
}

.memo-btn{
    text-align: right;
}

.bm-btn {
    display: inline-block;
    margin-right: 1em;
    border: solid 1px #555;
    border-radius: 3px;
    font-size: 14px;
    padding: 3px 2px;
    background-color: #eee;
    color: #000;
    vertical-align: top;
}

.bm-btn:hover {
    filter: brightness(0.95);
    cursor: default;
}

/* カテゴリー */

.category tr:first-child {
    /* background: #8cac7b; */
    background: #eee;
}

.category tr td:nth-child(2) a{
    padding-right: 1em;
}

.category-add p {
    margin-bottom: 0.5em;
}

.category-add input[type="text"] {
    width: calc(100% - 75px);
    padding: 0.3em;
    margin-right: 0.5em;
}